.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
  border-radius: 0px;
  background: $primary-button-background;
}

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table td:hover{
  border-radius: 0px;
}
