

//image browser main page-title

.image-large-holder{
  overflow: hidden;
}

.image-large-holder img{
  height: 450px;
}

.media-controls{
  background: #eee;
  position: relative;
  padding: 10px;
  text-align: center;
  .media-item{
    background: black;
  }
  button{
    display: inline-block;
    margin-top: 10px;
  }
}



//Timeline components

.tijdlijn-progress{

}

.tijdpunt{
    width:30px;
    height: 30px;
    border-radius:30px;
    background-color: $tijdpunt-color;
    margin: 0 auto;
}

.tijdpunt-done{
    @extend .tijdpunt;
    background-color: $tijdpunt-done-color;
}

.tijdlijnstuk{
    width: 5px;
    height: 80px;
    margin: 0 auto;
    background-color: $tijdpunt-color;
}

.tijdlijnstuk-done{
    @extend .tijdlijnstuk;
    background-color: $tijdlijnstuk-done-color;
}



.tijdlijn-fase-ballon{
  background: $ballon-color;
  color: white;
  font-family: $button-text;
  font-size: 21px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin-bottom: 65px;
  padding-right: 25px;
}

.tijdlijn-fase-ballon::before{
  content: '';
  padding: 10px;
  height: 12px;
  background: $ballon-color;
  display: inline-block;
  transform: translate(-10px, 4px) rotate(45deg);
}

.tijdlijn-fase-ballon-done{
  @extend .tijdlijn-fase-ballon;
  background: $ballon-done-color;
}

.tijdlijn-fase-ballon-done::before{
  @extend .tijdlijn-fase-ballon::before;
  background: $ballon-done-color;
}

.alert{
  border-radius: 0px;
}

//Home vragen component

.vraag{
  padding: 15px 0px;
}

.question{
  padding-bottom: 20px;
  padding-top: 10px;
}

.question div ol li::before{
  color: red;
}

.question div ol li a{
  position: relative;
  list-style: none;
  margin-top: 15px;
  padding: 25px -20px;
  text-decoration: none;
  font-size: 18px;
  font-style: $title-font;
  color: #333;
  display: block;
  font-weight: 900;
  z-index: 10;
}

.question div ol li a:before{
  content: ' ';
  position: relative;
  z-index: -1;
  left: -27px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: lightgray;
  border-radius: 150px;
}

.question div ol li a:hover{
  cursor: pointer;
  text-decoration: underline;
}
