

//image browser main page-title

.image-large-holder{
  overflow: hidden;
}

.image-large-holder img{
  height: 450px;
}

.image-list{
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-list li{
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin: 0; padding: 0;
  margin-bottom: 10px;
  transition: all .5s ease;
}

.image-list li:hover{
  opacity: .7;
}

.image-list li img{
  height: 80px;
}

.image-list li img:hover{
  cursor: pointer;
}

//Timeline components

.tijdlijn-progress{

}

.tijdpunt{
    width:30px;
    height: 30px;
    border-radius:30px;
    background-color: $tijdpunt-color;
    margin: 0 auto;
}

.tijdpunt-done{
    @extend .tijdpunt;
    background-color: $tijdpunt-done-color;
}

.tijdlijnstuk{
    width: 5px;
    height: 80px;
    margin: 0 auto;
    background-color: $tijdpunt-color;
}

.tijdlijnstuk-done{
    @extend .tijdlijnstuk;
    background-color: $tijdlijnstuk-done-color;
}



.tijdlijn-fase-ballon{
  background: $ballon-color;
  color: white;
  font-family: $button-text;
  font-size: 21px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin-bottom: 65px;
  padding-right: 25px;
}

.tijdlijn-fase-ballon::before{
  content: '';
  padding: 10px;
  height: 12px;
  background: $ballon-color;
  display: inline-block;
  transform: translate(-10px, 4px) rotate(45deg);
}

.tijdlijn-fase-ballon-done{
  @extend .tijdlijn-fase-ballon;
  background: $ballon-done-color;
}

.tijdlijn-fase-ballon-done::before{
  @extend .tijdlijn-fase-ballon::before;
  background: $ballon-done-color;
}

.alert{
  border-radius: 0px;
}
