footer {
  text-align: center;
  background: lightgray;
  color: gray;
  padding: 65px;
  .footer-title {
    font-size: 16px;
    font-weight: 700;
  }
  .footer-subtext {
    font-size: 12px;
    font-weight: 500;
  }
}
