body{
  margin: 0; padding: 0;
  background: $body-background;
  font-family: $regular-text-font;
  font-size: 16px;
}


h1, h2{
  font-family: $title-font;
  text-transform: uppercase;
}

h2{
  font-size: 34px;
  color: #555;
}

h3{
  font-family: $subtitle-font;
  font-size: 42px;
  color: #444;
}

h4{
  font-family: $subtitle-font;
  font-size: 24px;
  color: $main-blue;
  text-transform: uppercase;
  font-weight: 200;
}

h5{
  font-family: $subtitle-font;
  font-size: 24px;
  color: #333;
  text-transform: uppercase;
  font-weight: 200;
}

p{
  font-family: $regular-text-font;
  font-size: 16px;
}

section{
  padding: 25px;
}

iframe{
  border: 0px solid transparent;
}

.red{
  color: $red-button-background;
}

.separator-right{
  border-right: 1px solid lightgray;
}

.separator-top{
  border-top: 1px solid lightgray;
}

.spacer{
  height: 15px;
}

.page-title{
  padding: 15px 0px 25px 0px;
}

.tijdlijn-title{
  padding-left: 25px;
}

.container{
  background: $container-background;
  margin-bottom: 80px;
}

.body-white{
  background: white;
}
