/*

Globale navigatie

*/

.logo{
  margin: -10px;
  margin-bottom: -11px;
  margin-right: 10px;
}

.navbar-default{
  background: $navbar-background;
  //box-shadow: -2px 0px 3px lightgray;
  border: none;
  border-bottom: 1px solid lightgray;
}

.navbar-brand{
  font-family: $brand-font;
  color: $brand-color;
  font-size: 24px;
}

.navbar-header{
  padding: 10px;
}

.nav.navbar-nav{
  li{
    border-left: 1px solid lightgray;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
  }
  li:hover{
    background: $navbar-button-hover-bg;
  }
}

.navbar{
  margin-bottom: 55px;
  box-shadow: 0px 0px 10px #e5e5e5;
}

/*

Administratie navigatie

*/

.admin-menu{
  padding: 0;
  background: #f7f7f7;
  nav ul {
    margin: 0; padding: 0;
    li{
      margin: 0; padding: 0;
      list-style: none;
      a{
        display: block;
        padding: 25px;
        background: $admin-menu-bg-color;
        border-bottom: 1px solid lightgray;
        color: #333;
        font-size: 18px;
        font-weight: 700;
      }
      a:hover{
        background: $admin-menu-bg-hover-color;
        text-decoration: none;
      }
    }
  }
}

.admin-menu nav .admin-menu-title{
  padding: 10px;
  padding-left: 25px;
  font-size: 21px;
  text-transform: uppercase;
  background: white;
  border-bottom: 1px solid lightgray;
}

.admin-menu nav li .nieuw-project{
  color: white;
  background: $primary-button-background;
  transition: background .5s ease;
  border: none;
}

.admin-menu nav li .nieuw-project:hover{
  background: lighten($primary-button-background, 5%);
}

/*
    Inspraakvragen navigatie
*/

.vragen-menu{
    padding: 0;
    nav ul {
        margin: 0; padding: 0;
        li{
          margin: 0; padding: 0;
          list-style: none;
          a{
            display: block;
            padding: 5px 0 5px 25px;
            background: $admin-menu-bg-color;
            border-bottom: 1px solid lightgray;
            color: #333;
            font-weight: 700;
          }
          a:hover{
            background: $admin-menu-bg-hover-color;
            text-decoration: none;
          }
        }
  }
}

.vragen-menu nav .vragen-menu-title{
  padding: 10px;
  padding-left: 25px;
  font-size: 15px;
  text-transform: uppercase;
  background: white;
  border-bottom: 1px solid lightgray;
}

.vragen-menu nav li .nieuwe-vraag{
    color: white;
      background: $primary-button-background;
      transition: background .5s ease;
      border: none;
}

.vragen-menu nav li .nieuwe-vraag:hover{
  background: lighten($primary-button-background, 5%);
}

.vragen-menu-item{
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}
