//main colors
$main-blue: #0A9CC1;
$main-red: #DC003C;

$body-background: #f9f9f9;
$body-foreground: #333;

$container-background: white;

//text
$title-font: 'Antwerpen';
$subtitle-font: 'SunAntwerpenBold';
$regular-text-font: 'SunAntwerpen';

//navigation
$brand-font: 'Antwerpen';
$brand-color: #333;

$navbar-background: white;
$navbar-button-hover-bg: #eeeeee;

//buttons
$button-text: 'SunAntwerpenBold';

$default-button-background: #ddd;
$primary-button-background: $main-blue;
$red-button-background: $main-red;


//forms
$input-border-color: #A9A9A9;
$input-background-color: #F5F5F5;
$input-glow-color: #0A9CC1;

//project
$project-title-bg-color: #f9f9f9;

//tijdlijn
$ballon-color: gray;
$ballon-done-color: $main-red;
$tijdpunt-color: gray;
$tijdpunt-done-color: $main-red;
$tijdlijnstuk-color: gray;
$tijdlijnstuk-done-color: $main-red;

//administratie
$admin-menu-bg-color: #f1f1f1;
$admin-menu-bg-hover-color: #f5f5f5;
$admin-menu-color: white;
$admin-content-border-color: lightgray;
